{% extends 'base.html' %}
{% block title %}
<title>資料新增一</title>
{% endblock %}
{% block content %}
<form action="" method="POST" name='form1'>
    {% csrf_token %}
    <table border="1" cellspacing='1' cellpadding='4'>
        <tr>
            <th>姓名</th><td><input type="text" id="cName" name="cName" id="cName"></td>
        </tr>
        <tr>
            <th>性別</th>
            <td>
                <input type="radio" name="cSex" id="cSex1" value='M' checked='checked'>男性
                <input type="radio" name="cSex" id="cSex2" value='F'>女性
            </td>
        </tr>
        <tr><th>生日</th><td><input type="text" name="cBirthday" id="cBirthday"></td></tr>
        <tr><th>Email</th><td><input type="text" name="cEmail" id="cEmail"></td></tr>
        <tr><th>電話</th><td><input type="text" name="cPhone" id="cPhone"></td></tr>
        <tr><th>地址</th><td><input type="text" name="cAddr" id="cAddr"></td></tr>
        <tr>
            <th colspan='3' align='center'>
                <input type="submit" name="button1" id="button1" value="送出">
                <input type="reset" name="button2" id="button2" value="重設">
                <a href="/index/">返回總表</a>
            </th>
        </tr>
    </table>
    <span style="color: red">{{message}}</span>
</form>
{% endblock %}